@media (max-width: 1300px) {
    .product__more {
        margin-top: 60px;
    }
}

@media (max-width: 1200px) {
    .banner-section__slider-img {
        min-height: 380px;
        max-width: 600px;
    }

    .banner-link img {
        width: 100%;
    }

    .banner-section__inner {
        justify-content: space-around;
    }

    .banner-section__slider {
        max-width: 600px;
    }

    .categories__inner {
        justify-content: space-around;
    }

    .catalog__inner-list {
        justify-content: space-around;
    }
}



@media (max-width: 1100px) {
    .menu__item+.menu__item {
        padding-left: 20px;
    }
    .card__input-search{
        margin-right: 0;
    }

    .header__adress {
        margin-right: 20px;
    }


}

@media (max-width: 968px) {

    .product-card__inner {
        flex-wrap: wrap;
    }

    .product-card__tabs {
        display: none;
    }

    .product-card__content {
        order: -1;
    }

    .product-card__btn-mobile {
        display: block;
        margin-top: 40px;
    }

    .product-card__img-box {
        width: 100%;
    }

    .header__bottom {
        display: none;
    }

    .menu__list {
        display: none;
    }


    .menu__mobile-line__wrapper {
        display: block;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #2F3035;
        font-family: $bold;

    }

    .menu__mobile-line {
        min-width: 450px;
        background: #F0F0F4;
        padding: 14px 0 14px 15px;
        display: flex;
        justify-content: space-around;
    }

    .menu__btn {
        display: block;
        border: none;
        background-color: transparent;
        padding: 0;

    }

    .menu__btn-line {
        background: #2F3035;
        border-radius: 3px;
        height: 3px;
        width: 34px;
        margin: 8px 0;
        cursor: pointer;
        border: none;

    }

    .banner-section__inner {
        margin-top: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-section__slider-img {
        max-width: 100%;
        margin-bottom: 25px;
    }

    .banner-section__slider {
        max-width: 100%;
    }

    .banner-section__slider-btn {
        display: none !important;
    }

    .mobile-overflow {
        width: 1000px;
    }

    .tabs-wrapper,
    .breadcrubms__inner,
    .catalog__filter-items__inner {
        overflow-x: scroll;
    }

    .tabs-wrapper.tabs-wrapper--no-scroll {
        overflow-x: hidden;
    }


}

@media (max-width: 940px) {
    .footer__top-inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer__top-item {
        margin-bottom: 25px;
    }

    .social-list__item {
        padding-top: 0;
    }

    .catalog__filter {
        display: block;
    }

    .catalog__filter-btn {
        margin-top: 30px;
    }

}

@media (max-width: 640px) {
    .aside-filter {
        display: none;
    }
    .product-card__title{
        font-size: 20px;
        line-height: 24px;
    }

    .product-card__img{
        width: 100%;
    }

    .aside__btn {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        font-family: $bold;
        padding: 15px 0;
        text-align: center;
        cursor: pointer;
        width: 100%;
        color: #fff;
        background-color: #1c62cd;
        margin-bottom: 30px;
    }

    .catalog__inner {
        flex-wrap: wrap;
    }

    .header__adress {
        display: none;
    }

    .banner-section__slider-img {
        min-height: 200px;
    }

    .banner-link img {
        min-width: 90px;
        object-fit: contain;
    }

    .banner-section .container {
        padding: 0;
    }

    .search__content-form {
        position: relative;
    }

    .search__content-btn {
        padding: 15px;
        font-size: 0;
        line-height: 0;
        background-image: url(/images/search-1.svg);
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-repeat: no-repeat;
        position: absolute;
        right: 8px;
        top: 13px;
        cursor: pointer;
    }

    .search__content-input {
        height: 50px;
        padding-right: 50px;
    }

}

@media (max-width: 540px) {
    .footer__top-item {
        width: 100%;
    }

    .catalog__filter-btn button {
        display: none;
    }

    .footer__bottom {
        flex-direction: column;
        align-items: start;
    }

    .footer__bottom-link {
        margin: 12px 0;
    }

    .footer__top-inner {
        justify-content: start;
    }

    .footer-form {
        justify-content: flex-start;
    }

    .social-list {
        width: 100%;
        justify-content: center;
        height: 35px;
    }

    .footer__top-item.footer__top-newsletter {
        margin-left: auto;
        margin-right: auto;
        width: 290px;
        text-align: center;
        margin-bottom: 0;
        border: none;
    }

    .footer-list {
        display: none;

    }

    .footer__top-title.footer__top-title__drop {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.0861538px;
        color: #7F7F7F;
        padding: 15px 0;
        cursor: pointer;
    }


    .footer__top-item__drop {
        margin-bottom: 0;
        border-top: 2px solid #cfcfcf;

    }

    .footer__top-item .social-list {
        border: none;
    }

    .footer__top-title__drop {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            background-image: url(/images/footer-arrow-down.svg);
            width: 12px;
            height: 7px;
            right: 0;
            top: 21px;
            background-repeat: no-repeat;

        }
    }

    .footer__top-title__drop--active::after {
        transition: all 300ms ease-in-out;
        transform: rotate(180deg);
    }

}



@media (max-width: 440px) {
    .menu__mobile-line__wrapper {
        font-size: 17px;
    }

    .banner-section__slider-img {
        min-height: 164px;
    }

    .menu__mobile-line {
        justify-content: flex-start;
    }
}

@media (max-width: 360px) {
    .menu__mobile-line__wrapper {
        font-size: 14px;
    }

    .categories__item {
        padding: 20px 10px 16px;
    }

    .pagination-list__item {
        padding: 6px 7px;
    }
}